mixin search(keyword)
  form(id="form-search")
    .input-group
      input.form-control(
        type="text"
        name="keyword"
        placeholder="Nhập từ khóa"
        value=keyword
      )
      .input-group-append
        button.btn.btn-success(type="submit") Tìm
